.card {
    max-width: 600;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 16px;
    text-align: center;
}
.error {
    vertical-align: middle;
}
.title {
    margin-top: 16px;
    color: #3f4771;
}
.textField {
    margin-left: 8px;
    margin-right: 8px;
    width: 300;
}
.submit {
    margin: auto;
    margin-bottom: 16px;
}